*{
box-sizing: border-box;

}
.aboutContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(247, 242, 242);
}
.About{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(247, 242, 242);
}

.post{
    color: rgb(228, 139, 22);
    font-size: 1.5rem;

}
.MeetMe{
    width: 50%;
    /* height: 20rem;  */
    color: black;
    border-radius: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 4rem;
}
.h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color:black;
    margin-top: -6rem;
}
.intro{
    font-size: 2rem;
    padding: 0.5rem;
    color: black;
}
p{
    color: black;
}
.image{
    width: 40%;
    height: 20rem;
    /* background-color: brown; */
    border-radius: 50%;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* object-fit: contain; */
}
.stack{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;   
    margin-left: -30rem;
    margin-bottom: 5rem;
    
}
.stackTitle{
    font-size: 1.5rem;
    border-bottom: 3px dashed  rgb(228, 139, 22);
    font-weight: 600;
    color:black;
    font-style: initial;
    margin-bottom: 2rem;
}
.stackIcons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.stackIcon{
   width: 5rem;
   height: 5rem; 
}
@media screen and (max-width:1000px) {
    .stack{
        margin-left: 0rem;
        align-items: center;
    }
    .About{
        height: 100%;
    }
}
@media screen and (max-width:800px) {
    .About{
       flex-direction: column;
       height: 100%;
    }
    .MeetMe{
        width: 100%;
    }
    .image{
        display: none;
    }
   
}
