.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
    background-color: rgb(247, 242, 242);
}
.title{
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 3px dashed  rgb(228, 139, 22);
    font-weight: 600;
    color:black;
    font-style: initial;
    margin-bottom: 2rem;
}
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 80%;
    height: 100%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    background-color: rgb(193, 187, 187);
   
}
.project:hover{
    animation: slide 1s linear 1s 1 normal;
}
.content, .image{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.content{
    padding: 2rem;
}
.proImg{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 1rem;
}

.proimg{
    width: 100%;
    height: 25rem;
    border-radius: 20px;
    padding: 1rem;
}
.proName{
    font-size: 1.5rem;
    font-weight: 600;
    color:black;
    margin-bottom: 0.5rem;
   
}
button{
    border: 1px solid black;
    border-radius: 15px;
    padding: 8px;
    margin-top: 1rem;
}
@keyframes slide {
    from{
        transform: translateX(200px);
    }
    to{
        transform: translateX(0);
    }
}
@media screen and (max-width:900px) {
    .project{
        flex-direction: column;
    }
    .content, .image{
        width: 100%;
    }
}